
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
a {
    text-decoration: none;
    color: inherit;
}

.common-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.common-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

/* nav styles */
.top {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font: 800px;
    font-size: 28px;
    margin-left: 150px;
    margin-top: 50px;
}

.nav-button {
    font: 600px;
    font-size: 20px;
    padding: 17px 24px;
    border-radius: 10px;
    margin-right: 150px;
    margin-top: 38px;
}

/* banner styles */

.banner {
    background-image: url(../assets/Hero-bg.png);
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.banner-title {
    font-size: 48px;
    font-weight: 800px;
    color: #0D1321;
    text-align: center;
    margin-right: 221px;
    margin-left: 221px;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-description {
    font-size: 16px;
    color: #0D1321;
    font-weight: normal;
    text-align: center;
    /* margin-top: 24px; */
    margin-right: 294px;
    margin-left: 294px;
}

.banner-button {
    border-radius: 10px;
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600px;
    background-color: #0D1321;
    font-weight: 20px;
    color: white;
    font-family: "Azeret Mono";
}


/* web-dev-container */

.web-dev-container {
    width: 1140px;
    margin: 20px auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
}

.card-1 {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    display: flex;
    gap: 100px;
    margin-bottom: 32px;
}

.card-2 {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    margin-bottom: 32px;


}

.card-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.card-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.card-button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;

}

/* inspiration styles */
.Inspiration {
    width: 1140px;
    margin: 20px auto;

}

.inspiration-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.YT-Box {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.YT-Video {

    width: 1076px;
    height: 550px;
    width: 1140px;
    border-radius: 16px;
    padding: 32px;

}

/* Cardbox styles */
.Current-Target {
    width: 1140px;
    margin: 20px auto;
    margin: 20px auto;
}

.Cardbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto 20px;
}

.Cardbox-1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-right: 20px;
    padding: 40px;
}

.Cardbox-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-right: 20px;
    padding: 40px;
}

.Cardbox-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    margin-right: 40px;
    padding: 40px;
}

.learn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* support styles */
#support {
    background-image: url(../assets/handshake.jpg);
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);
    padding: 64px 48px 64px 48px;
    width: 1140px;
    height: 314px;
    left: 150px;
    right: 150px;
    top: 4752px;
    bottom: 179px;
    margin: 20px auto;
}

.support-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px 0px;

}

.support-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-description {

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.support-comment {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 0px 16px;
    padding: 19px 20px 19px 20px;
    width: 548px;
    height: 57px;
}

.submit {
    border-radius: 8px;

    background: rgb(255, 255, 255);
    margin: 0px 16px;
    margin: 0px 16px;
    width: 120px;
    height: 58px;
}

.input-sup {
    display: flex;
    flex-direction: row;
}

/* footer styles */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
}

.footer-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}
